
.password-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.password-field {
    width: 1.4em;
    text-align: center;
    margin: 0 .6em;
}

article.card {
    margin-top: 2rem;
    padding: 2rem;
    p.title {
        display: none;
    }
}
