
:root {
    --background-color: #141f1c;
    --background-color-lighter: #3b4243;
    --primary-color: #c9b320;
    --secondary-color: #b66ac3;
    --text-color: #bebebe;
    --js-color: #eddd51;
    --js-text-color: black;
    --css-color: #3d91f2;
    --css-text-color: white;
    --server-online-fill: #00ff00;
    --server-online-stroke: #00ff00;
    --server-offline-fill: #ff0000;
    --server-offline-stroke: #d20000;
    --container-margin: 4px;
    --panel-label-padding: 3px;
    --panel-label-width: 45px;
}

body {
    background-color: var(--background-color);
    font-size: 10px;
    min-width: 300px;
}

body, a {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

.hidden {
    display: none !important;
}

table.scripts {
    width: 100%;
}

td.script-name {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
}

td.js, td.css {
    text-align: center;
    font-weight: bold;
}

td.js {
    background-color: var(--js-color);
    color: var(--js-text-color);
}

td.css {
    background-color: var(--css-color);
    color: var(--css-text-color);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10px;
    padding: 6px;

    background-color: var(--background-color-lighter);
}

.container {
    margin: var(--container-margin);
    background-color: var(--background-color);
}

.row {
    padding: var(--panel-label-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row label {
    width: var(--panel-label-width);
    display: inline-block;
}

.row input , .row textarea{
    width: calc(100% - var(--panel-label-width) - 2 * var(--panel-label-padding) - 2 * var(--container-margin));
    display: inline-block;
    background-color: white;
}

input.invalid, textarea.invalid{
    background-color: indianred;
}

#directive-hint{
    font-size : 0.8em
}

.row.right {
    flex-direction: row-reverse;
}

.row.center {
    justify-content: center;
}

#server-status {
    height: 4px;
    width: 4px;
    border-radius: 3px;
    border: 1px solid var(--server-online-stroke);
    background-color: var(--server-online-fill);
    display: inline-block;
}

#server-status.offline {
    border: 1px solid var(--server-offline-stroke);
    background-color: var(--server-offline-fill);
}
