
:root {
    --background-color: #141f1c;
    --background-color-lighter: #3b4243;
    --primary-color: #c9b320;
    --secondary-color: #b66ac3;
    --text-color: #bebebe;
    --highlighted-color: white;
    --js-color: #eddd51;
    --js-text-color: black;
    --css-color: #3d91f2;
    --css-text-color: white;
    --server-online-fill: #00ff00;
    --server-online-stroke: #00ff00;
    --server-offline-fill: #ff0000;
    --server-offline-stroke: #d20000;
    --container-margin: 4px;
    --panel-label-padding: 3px;
    --panel-label-width: 60px;
    --row-height: 20px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
    font-size: 12px;
    min-width: 300px;
}

body, a {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

a:hover {
    color: var(--highlighted-color);
}

input {
    font-family: Roboto, sans-serif;
}

.hidden {
    display: none !important;
}

table.scripts {
    width: 100%;
    border-collapse: collapse;
}

table.scripts tr {
    height: var(--row-height);
}

td.script-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: monospace;
}

tr.page-frame {
    background-color: #232b28;
    color: #505953;
}

tr.page-frame td {
    padding-left: 5px;
}

td.script-name {
    padding-left: 5px;
}

td.script-type {
    width: 15%;
    padding: 0;
}

div.js, div.css {
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 10px;
    font-size: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--row-height) - 2px);
}

div.js {
    background-color: var(--js-color);
    color: var(--js-text-color);
}

div.css {
    background-color: var(--css-color);
    color: var(--css-text-color);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 18px;
    padding: 5px;
    font-size: 120%;
    background-color: var(--background-color-lighter);
}

.container {
    /*margin: var(--container-margin);*/
    background-color: var(--background-color);
}

.row {
    padding: var(--panel-label-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row label {
    width: var(--panel-label-width);
    display: inline-block;
}

.row input {
    width: calc(100% - var(--panel-label-width) - 2 * var(--panel-label-padding) - 2 * var(--container-margin));
    display: inline-block;
}

.row.right {
    flex-direction: row-reverse;
}

.row.center {
    justify-content: center;
}

#server-status {
    height: 4px;
    width: 4px;
    border-radius: 3px;
    border: 1px solid var(--server-offline-stroke);
    background-color: var(--server-offline-fill);
    display: inline-block;
}

#server-status.online {
    border: 1px solid var(--server-online-stroke);
    background-color: var(--server-online-fill);
}
