
:root {
    --background-color: #141f1c;
    --text-color: #b4b4b4;
    --anchor-color: #a1a1a1;
    --title-color: #c9b320;
    --primary-color: var(--title-color);
    --secondary-color: #b66ac3;
    --secondary-color-darker: #682793;
}

body {
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    height: 80px;
}

.witch {
    height: 80px;
    position: relative;
    animation: flying 2s infinite ease-in-out;
}

@keyframes flying {
    0%   { top: -10px; }
    50%  { top:  10px; }
    100% { top: -10px; }
}

.container {
    margin: 50px auto 0 auto;
    width: 800px;
    position: relative;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
    margin: 40px 0 0 0;
    color: var(--anchor-color);
}

.gist {
    width: 550px;
    margin: 30px auto;
}

img.center {
    display: block;
    margin: auto;
}

img.screenshot {
    display: block;
    margin: 30px auto;
    border-radius: 4px;
}

.code {
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--secondary-color);
    font-size: 14px;
    padding: 3px 8px;
    border-radius: 3px;
    position: relative;
    top: -1px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footnote {
    margin-top: 0;
    font-size: 12px;
    text-align: right;
}

.right {
    float: right;
}

.left {
    float: left;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    border-bottom: 1px solid;
    color: var(--anchor-color);
}

a:hover {
    color: var(--primary-color);
}

a.image {
    border-bottom: none;
}

p {
    font-size: 16px;
    line-height: 1.5em;
    text-align: justify;
}

p.note {
    font-style: italic;
}

p.menu {
    text-align: center;
    margin: 40px 0;
}

p.menu a {
    margin: 0 10px;
    font-size: 12pt;
    border: 1px solid var(--text-color);
    border-radius: 3px;
    padding: 6px 12px;
    text-decoration: none;
    background-color: var(--text-color);
    color: var(--background-color);
    box-shadow: black 0 1px 3px;
}

p.menu a:hover {
    color: black;
    background-color: #c7c7c7;
    text-decoration: none;
    position: relative;
    top: -1px;
}

section {
    margin-left: 50px;
}

li {
    line-height: 1.5em;
}
