
@font-face {
    src: url(OpenSans-Regular.ttf);
    font-family: "OpenSans";
}

@font-face {
    src: url(RobotoMono-Regular.ttf);
    font-family: "RobotoMono";
}

:root {
    --background-color: #3d3d3d;
    --text-color: #b4b4b4;
    --anchor-color: #c9b320;
    --title-color: #c9b320;
    --primary-color: var(--title-color);
    --secondary-color: #e482ff;
    --secondary-color-darker: #cc7aff;
}

body {
    font-family: OpenSans, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    height: 80px;
}

.witch {
    height: 80px;
    position: relative;
    animation: flying 2s infinite ease-in-out;
}

@keyframes flying {
    0%   { top: -10px; }
    50%  { top:  10px; }
    100% { top: -10px; }
}

.container {
    margin: 50px auto 0 auto;
    width: 800px;
    position: relative;
}

h2 {
    margin-top: 40px;
    font-size: 25px;
}

h3 {
    font-size: 19px;
    margin: 40px 0 0 0;
}

h2, h3 {
    color: var(--title-color);
}

.gist {
    width: 550px;
    margin: 30px auto;
}

img.center {
    display: block;
    margin: auto;
}

img.screenshot {
    display: block;
    margin: 30px auto;
    border-radius: 4px;
}

.code {
    background-color: rgba(187, 187, 187, 0.08);
    color: var(--secondary-color);
    font-family: RobotoMono, sans-serif;
    font-size: 13px;
    padding: 3px 8px;
    border-radius: 3px;
    position: relative;
    top: -1px;
    box-shadow: 0 0 3px 1px #3535355c;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footnote {
    margin-top: 0;
    font-size: 12px;
    text-align: right;
}

.right {
    float: right;
}

.left {
    float: left;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: var(--anchor-color);
}

a:hover {
    color: var(--primary-color);
}

a.image {
    border-bottom: none;
}

p {
    font-size: 15px;
    line-height: 1.5em;
    text-align: justify;
}

p.note {
    font-style: italic;
}

p.menu {
    text-align: center;
    margin: 40px 0 0 0;
    padding: 5px 0;
    border-top: 1px solid var(--secondary-color-darker);
    border-bottom: 1px solid var(--secondary-color-darker);
}

p.menu-bottom {
    border: none;
}

section {
    margin-left: 50px;
}

li {
    line-height: 1.5em;
    margin-top: 10px;
}

p.question {
    margin: 30px 0 0 0;
    font-size: 20px;
    color: var(--secondary-color-darker);
}

p.answer {
    margin-top: 10px;
}